{%  if license_source == "parameter-store" %}
{{lookup('aws_ssm', license_backend_path, decrypt=true, region=license_region)}}
{%  elif license_source == "secrets-manager" %}
{{lookup('amazon.aws.aws_secret', license_backend_path, bypath=true, region=license_region)}}
{%  elif license_source == "hashicorp-vault" %}
{{lookup('hashi_vault', "secret=" + license_backend_path + "token=" + vault_token + "url=" + vault_endpoint)}}
{% endif %}
