[Unit]
Description=A service that configures dataiku
After=dataiku.service
ConditionPathExists=!/var/run/configure-dataiku.lock

[Service]
Type=oneshot
Environment=PYTHONPATH=/opt/dataiku-python
ExecStartPre=/bin/touch /var/run/configure-dataiku.lock
WorkingDirectory=/opt/dataiku-python/dataiku_api_manager
ExecStart=/bin/python3 /opt/dataiku-python/dataiku_api_manager/main.py
StandardOutput=journal
SyslogIdentifier=configure-dataiku

[Install]
WantedBy=multi-user.target
