[Unit]
Description=A service that configures data volumes for Dataiku
Before=dataiku.service
After=cloud-final.service
ConditionPathExists=!/var/run/volume-manager.lock

[Service]
Type=oneshot
Environment=PYTHONPATH=/opt/dataiku-python/volume_manager
ExecStartPre=/bin/touch /var/run/volume-manager.lock
WorkingDirectory=/opt/dataiku-python/volume_manager
ExecStart=/bin/python3 /opt/dataiku-python/volume_manager/main.py
StandardOutput=journal
SyslogIdentifier=volume-manager

[Install]
WantedBy=multi-user.target
