[Unit]
Description=A service that configures data volumes for Dataiku
Before=dataiku.service
After=cloud-final.service
ConditionPathExists=!/var/run/volume-manager.lock

[Service]
Type=oneshot
ExecStartPre=/bin/touch /var/run/volume-manager.lock
WorkingDirectory=/opt/volume-manager
ExecStart=/bin/python3 /opt/volume-manager/main.py
StandardOutput=journal
SyslogIdentifier=volume-manager

[Install]
WantedBy=multi-user.target
